Source: ros-noetic-udp-com
Section: misc
Priority: optional
Maintainer: Evan Flynn <evan.flynn@continental.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-message-generation, ros-noetic-nodelet, ros-noetic-roscpp, ros-noetic-roslint, ros-noetic-rostest, ros-noetic-std-msgs
Homepage: https://continental.github.io/udp_com
Standards-Version: 3.9.2

Package: ros-noetic-udp-com
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-message-generation, ros-noetic-message-runtime, ros-noetic-nodelet, ros-noetic-roscpp, ros-noetic-std-msgs
Description: The udp_com package
